# Advanced Database Systems – Exercise Sheet 2

In [ ]:
%GUESS_PARSER
%LOAD_TESTS tests.json
%CREATE :memory: OF tables.sql

---

## Task 1

List and discuss the operators in the relational algebra (RA).

In [ ]:
-- TODO

---

## Task 2

Consider a database with the following relations.

In [ ]:
%SCHEMA TD

In [ ]:
SELECT * FROM Customers;

In [ ]:
SELECT * FROM Products;

In [ ]:
SELECT * FROM Sales;

In [ ]:
SELECT * FROM Stores;

In [ ]:
SELECT * FROM SpecialOffers;

In [ ]:
SELECT * FROM Receipts;

---

### Task 2.(a)

Give a verbal formulation and the result of the following RA expressions.

In [ ]:
%TEST task-2a-1

π [RNo] (Receipts)

In [ ]:
%TEST task-2a-2

Customers - π [CNo, Name] (Customers ⋈ Sales)

In [ ]:
%TEST task-2a-3

π [SID] (Stores) - π [SID] ((π [RNo, SID] (Sales) ⋈ Receipts) ⋈ SpecialOffers)

---

### Task 2.(b)

Formulate the following queries in RA and SQL.

List all customer names.

In [ ]:
%TEST task-2b-1

-- TODO: RA

In [ ]:
%TEST task-2b-1

-- TODO: SQL

List all receipts of sales that took place in the morning by their receipt number.

In [ ]:
%TEST task-2b-2

-- TODO: RA

In [ ]:
%TEST task-2b-2

-- TODO: SQL

Which products were bought on "19.10.2025"? List the products based on their description.

In [ ]:
%TEST task-2b-3

-- TODO: RA

In [ ]:
%TEST task-2b-3

-- TODO: SQL

List the names of customers together with their purchased products.

In [ ]:
%TEST task-2b-4

-- TODO: RA

In [ ]:
%TEST task-2b-4

-- TODO: SQL

Which customers have not bought anything? List the customer numbers and names.

In [ ]:
%TEST task-2b-5

-- TODO: RA

In [ ]:
%TEST task-2b-5

-- TODO: SQL

Which stores have the fewest products on sale? List store IDs, names, addresses, and product counts.

In [ ]:
-- TODO: RA

In [ ]:
%TEST task-2b-6

-- TODO: SQL

Which store had the earliest sale? List store IDs and names, as well as sales dates and times.

In [ ]:
%TEST task-2b-7

-- TODO: RA

In [ ]:
%TEST task-2b-7

-- TODO: SQL

### Task 2.(c)

What is the result of a Left Semi-Join and a Right Semi-Join of the relations Customers and Sales? Give a verbal formulation for these expressions.

In [ ]:
%TEST task-2c-1

-- TODO: Left Semi-Join

In [ ]:
%TEST task-2c-2

-- TODO: Right Semi-Join

### Task 2.(d)

Provide the results of the following RA expressions.

In [ ]:
%TEST task-2d-1

-- TODO

In [ ]:
%TEST task-2d-2

-- TODO

In [ ]:
%TEST task-2d-3

-- TODO