# Advanced Database Systems – Exercise Sheet 3

In [ ]:
%GUESS_PARSER
%LOAD_TESTS tests.json
%CREATE :memory:

---

## Task 1

Write SQL queries to create the following relations:

* Manufacturer(<u>Name</u>, Address, Phone)
* Sensor(<u>Id</u>, Name, Type, MName → Manufacturer(Name))
* Warning(<u>Id</u>, Message)
* Observation(<u>SId → Sensor(Id), Time</u>, Value, Unit)
* BasedOn(<u>(OSId, OTime) → Observation(SId, Time)</u>, WId → Warning(Id))

Insert the following rows and values:

* Manufacturer:
    * 'AeroSense GmbH', 'Lindwurmweg 87, 80337 München', '+49 89 123456'
    * 'Nordic Metrics AG', 'Fjordweg 12, 24103 Kiel', '+49 431 98765'
    * 'RheinTech SE', 'Rheinallee 5, 50678 Köln', '+49 221 445566'
* Sensor:
    * 101, 'AS-Temp-01', 'temperature', 'AeroSense GmbH'
    * 102, 'NM-Hum-07', 'humidity', 'Nordic Metrics AG'
    * 103, 'RT-Press-3', 'pressure', 'RheinTech SE'
* Warning:
    * 1, 'Temperature exceeds threshold'
    * 2, 'Humidity below safe range'
* Observation:
    * 101, '2025-11-01 08:30:00', 26.4, '°C'
    * 101, '2025-11-01 09:00:00', 31.1, '°C'
    * 102, '2025-11-01 08:30:00', 35.0, '%'
    * 102, '2025-11-01 09:00:00', 28.2, '%'
    * 103, '2025-11-01 08:30:00', 1014.6, 'hPa'
* BasedOn:
    * 101, '2025-11-01 09:00:00', 1
    * 102, '2025-11-01 09:00:00', 2

In [ ]:
-- TODO

In [ ]:
-- TODO

In [ ]:
-- TODO

In [ ]:
-- TODO

In [ ]:
-- TODO

In [ ]:
%TEST task-1-1

SELECT * FROM Manufacturer;

In [ ]:
%TEST task-1-2

SELECT * FROM Sensor;

In [ ]:
%TEST task-1-3

SELECT * FROM Warning;

In [ ]:
%TEST task-1-4

SELECT * FROM Observation;

In [ ]:
%TEST task-1-5

SELECT * FROM BasedOn;

---

## Task 2

Given the following relations:

* Student(<u>MatNr</u>, Name, Email)
* Subject(<u>Id</u>, Name)
* Course(<u>Id</u>, SId → Subject(Id), Credits)
* StudentCourse(<u>SMatNr → Student(MatNr), CId → Course(Id)</u>, Grade)

Write SQL queries for their creation. Insert the following rows and values:

* Student:
    * 62001, 'Alexander Becker', 'alexander.becker@tu-ilmenau.de'
    * 62002, 'Ben Fischer', 'ben.fischer@tu-ilmenau.de'
    * 62003, 'Clara Neumann', 'clara.neumann@tu-ilmenau.de'
    * 62004, 'Diana Weber', 'diana.weber@tu-ilmenau.de'
* Subject:
    * 1, 'Databases'
    * 2, 'Algorithms'
    * 3, 'Machine Learning'
* Course:
    * 1, 1, 6 (Databases)
    * 2, 2, 5 (Algorithms)
    * 3, 3, 6 (Machine Learning)
* StudentCourse:
    * 62001, 1, 2.0
    * 62001, 2, 1.7
    * 62001, 3, 5.0
    * 62002, 1, 1.3
    * 62002, 2, 2.0
    * 62002, 3, NULL
    * 62003, 3, 1.0
    * 62003, 2, 2.3
    * 62004, 2, 4.0
    * 62004, 1, 2.7

In [ ]:
-- TODO

In [ ]:
-- TODO

In [ ]:
%TEST task-2-1

SELECT * FROM Student;

In [ ]:
%TEST task-2-2

SELECT * FROM Subject;

In [ ]:
%TEST task-2-3

SELECT * FROM Course;

In [ ]:
%TEST task-2-4

SELECT * FROM StudentCourse;

Write the following SQL queries:

(a) Get the email address of the student with the matriculation number 62002.

In [ ]:
%TEST task-2a

-- TODO

(b) Get any email address that belongs to more than one student.

In [ ]:
%TEST task-2b

-- TODO

(c) Get the list of grades of Clara Neumann.

In [ ]:
%TEST task-2c

-- TODO

(d) Get the email address and grades of the student with matriculation number 62002.

In [ ]:
%TEST task-2d

-- TODO

(e) Get the name, email address, and subjects taken by the student with matriculation number 62004, as well as his or her grade in each subject.

In [ ]:
%TEST task-2e

-- TODO

(f) Get the cumulative grade of the student with matriculation number 62002 over all subjects that he or she did not fail.

In [ ]:
%TEST task-2f

-- TODO

(g) Get the list of students with their cumulative grades over all passed subjects.

In [ ]:
%TEST task-2g

-- TODO

(h) Get the names of all students who have very good cumulative grades and did not fail any subject.

In [ ]:
%TEST task-2h

-- TODO